# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#github
key
key.pub
interview_qa.txt
# Virtual environments
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
*.har
Thumbs.db
db.sqlite3
*.db
*.log

# PostgreSQL data (managed by Docker volume)
pgdata/

# Pytest
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.pytest_cache/
